<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TikTek_Lior_Sagi"
        tools:targetApi="31">
        <activity
            android:name=".screens.Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.UserSearches"
            android:exported="false" />
        <activity
            android:name=".screens.UserGuide"
            android:exported="false" />
        <activity
            android:name=".screens.LandingPage"
            android:exported="false"/>
        <activity
            android:name=".screens.OneAnswer"
            android:exported="false" />
        <activity
            android:name=".screens.AnswersManage"
            android:exported="false" />
        <activity
            android:name=".screens.BooksManage"
            android:exported="false" />
        <activity
            android:name=".screens.UsersManage"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPage"
            android:exported="false"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/Theme.TikTek_Lior_Sagi" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />

        <activity
            android:name=".screens.UserProfile"
            android:exported="false" />
        <activity
            android:name=".screens.ChangeUser"
            android:exported="false"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/Theme.TikTek_Lior_Sagi" />
        <activity
            android:name=".screens.AddAnswer"
            android:exported="false" />
        <activity
            android:name=".screens.AddBook"
            android:exported="false" />
        <activity
            android:name=".screens.Answers"
            android:exported="false" />
        <activity
            android:name=".screens.Search"
            android:exported="false" />
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />

    </application>

</manifest>